		<div class="wrap container center row no-padding">
		<div class="col-3 center text-center">
		<app-form-interview-edit #formInterview> </app-form-interview-edit>
		</div>
		<table class="table table-hover my-5 col-12">
		 <thead>

		 <tr class="row no-gutters">
		 <th class="col-4">Текст питання</th>
		 <th class="col-2">Тип</th>
		 <th class="col-1">Автор</th>
		 <th class="col-2">Результати</th>
		 <th class="col-1">Дата публікації</th>
		 <th class="col-2">Дії</th>
		 </tr>
		 </thead>
		 <tbody >


		 <tr *ngFor="let interview of interviewList" (click)="choiceInterview(interview)" [ngClass]="{'table-active': interview?._id == currInterviewId}"  class="cursor-pointer row no-gutters">
		<td class="col-4">{{interview?.question}}</td>
		 <td class="col-2">{{interview?.isMultiple  | status:'interviewType'}}</td>
		 <td class="col-1">{{interview?.author?.first_name}} {{interview?.author?.last_name}}</td>
		 <td class="col-2 row no-gutters">
		 				<div *ngFor="let answer of interview?.answers" class='col-12 mb-1'>
		 					{{answer?.text}} - {{answer?.isTruePercent}}%
		 				</div>
		 </td>
		 <td class="col-1">{{interview?.createdAt | customDate:'post'}}</td>
		 <td class="col-2">
		 	 <button  type="button" class="btn btn-primary mb-2" (click)="editInterview(interview)">Редагувати</button>

		 	 <button  type="button" class="deleteWorker btn btn-danger" (click)="removeInterview(interview._id)">Видалити</button>
		 </td>


		 </tr>
		
		 </tbody>
		 </table>
		

		<div class="jumbotron mb-5 px-2 pt-1 pb-1 col-5 center" *ngIf="currInterviewSelect?.isMultiple&& currInterviewSelect">
		  <h1 class="display-5">{{currInterviewSelect?.question}}</h1>
		  <p class="lead"><small>{{currInterviewSelect?.createdAt | customDate:'post'}}</small></p>
		  <hr class="my-2">

		 <div class="row no-padding no-gutters full-width" >
			<div class="form-check  col-12"  *ngFor="let answer of currInterviewSelect?.answers">
			  <label class="form-check-label">
			    <input type="checkbox" class="form-check-input" id="checkboxSuccess" value="option1">
			    {{answer?.text}}
			  </label>
			</div>
			 <p class="lead mt-2  col-12">
		    <a class="btn btn-primary btn-sm"  role="button">Голосувати</a>
		  </p>
  		</div>
  		</div>


  		<div class="jumbotron mb-5 px-2 pt-1 pb-1 col-5 center" *ngIf="!currInterviewSelect?.isMultiple&&currInterviewSelect">
		  <h1 class="display-5">{{currInterviewSelect?.question}}</h1>
		  <p class="lead"><small>{{currInterviewSelect?.createdAt | customDate:'post'}}</small></p>
		  <hr class="my-2">

		 <div class="row no-padding no-gutters full-width" >
			<label class="custom-control custom-radio" *ngFor="let answer of currInterviewSelect?.answers">
			  <input id="radio1" name="radio" type="radio" class="custom-control-input">
			  <span class="custom-control-indicator"></span>
			  <span class="custom-control-description">{{answer?.text}}</span>
			</label>

		  <p class="lead mt-2 col-12">
		    <a class="btn btn-primary btn-sm"  role="button">Голосувати</a>
		  </p>
		  </div>
		 </div>

		  
		  <!--
			<div class="col-12 d-flex justify-content-center">
				<ngbd-pagination-basic (pageChange)="onPageChange($event)" #pagination> </ngbd-pagination-basic>
			</div>

			-->
		  
		 </div>