		<div class="wrap container center">
		<table class="table">
		 <thead>

		 <tr>
		 <th>Імя</th>
		 <th>Прізвище</th>
		 <th>Логін</th>
		 <th>Працівник</th>
		 <th>Адміністратор</th>
		 <th>Дії</th>
		 </tr>
		 </thead>
		 <tbody #workersList>


		 <tr *ngFor="let user of users" [ngClass]="{'green-bcg': user?.isAdmin, 'white-color': user?.isAdmin}">
		 <td>{{user?.first_name}}</td>
		 <td>{{user?.last_name}}</td>
		 <td>{{user?.login}}</td>
		 <td>{{user?.isWorker | status:'yesNo'}}</td>
		 <td>{{user?.isAdmin | status:'yesNo'}}</td>

		 <td>
		 	 <button *ngIf="!user?.isWorker&&!user?.isAdmin" type="button" class="btn btn-primary" (click)="addToWorkers(user._id)">Долучити до працівників</button>

		 	  <button *ngIf="user?.isWorker&&!user?.isAdmin" type="button" class="btn btn-primary" (click)="removeFromWorker(user._id)">Вилучити з працівників</button>

		     <button *ngIf="!user?.isAdmin" (click)="removeUser(user._id)" type="button" class="btn deleteWorker btn-danger">Видалити обліковий запис</button>
		 </td>


		 </tr>
		
		 </tbody>
		 </table>
		 </div>