<div class="container center no-padding">
<div class="row no-gutters mb-5">


 <div class="card  col-12 col-md-7 center mb-3" *ngFor="let card of news">
  <h3 class="card-header">{{card?.title}}</h3>
  <div class="card-block">
    <p class="card-text"><small class="text-muted">Автор: {{card?.author?.first_name}} {{card?.author?.last_name}}</small></p>
    <p class="card-text">{{card?.excerpt}}</p>
    <p class="card-text"><small class="text-muted">{{card?.createdAt | customDate:'post'}}</small></p>
  </div>
</div>



</div>

<div class="pagination-wrap d-flex justify-content-center">
	<padinationNews  (pageChange)="changePagination($event)" #pagination></padinationNews>
</div>

</div>